services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    command:
      - start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    volumes:
      - keycloak-data:/opt/keycloak/data
    networks: ["appnet"]

networks:
  appnet:
    external: true
    name: appnet

volumes:
  keycloak-data: